<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> Smart-Sell Product App</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-product" *ngIf="authService.isLoggedIn()">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" *ngIf="!authService.isLoggedIn()">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!authService.isLoggedIn()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="authService.logout(); router.navigate(['/login'])" *ngIf="authService.isLoggedIn()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-4">
  
  <router-outlet></router-outlet>
</div>